@charset "UTF-8";

.flex-center {
        display: flex;
        justify-content: center; /* 横方向 */
        align-items: center;     /* 縦方向 */
    }
body{
    background-color: #f5f1e6;
    font-size: 20px;
    font-family: "HGS教科書体";
}
h1{
    color: #f5f1e6;
    font-size: 30px;
    font-family: "Yu Mincho", serif;
    margin: 10px;
}
h2{
    color: #1a110a;
    font-size: 20px;
    font-family: "Yu Mincho", serif;
    border-top: 2px solid #4a2a12;
    margin: 10px;
}
h3{
    color: #f5f1e6;
    font-size: 14px;
    font-family: "Yu Mincho", serif;
    margin: 0px;
}
p{
    color: #1a110a;
    font-size: 16px;
    font-family: "HGS教科書体";
    margin: 0px 30px 20px;
}

.intro{
    color: #1a110a;
    font-size: 16px;
    font-family: "HGS教科書体";
    margin: 20px 30px;
}

/*使う前に知る*/
.notice-section{
    background-color: #a6845a;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}
.notice-section h2, .notice-section p{
    margin-bottom: 0;
}

.lic{
    list-style-type: none;
    color: #1a110a;
    text-decoration: none;
    display: block;
    width: 600px;
    margin: 10px 20px;
    border: 1px solid #4a2a12;
    padding: 12px 24px;
    border-radius: 4px;
    font-family: "Yu Mincho", serif;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.2s;
}
.lic:hover{
    text-decoration: none;
    background-color: #dbd5c6;
    color: #1a110a;
    transform: translateY(-2px);
}

a{
    text-decoration: none;
    color: #1a110a;
    font-size: 18px;
    margin: 10px;
}
a:hover{
    text-decoration: underline;
    color: #a6845a;
}

.card{
    list-style-type: none;
    color: #1a110a;
    text-decoration: none;
    display: block;
    width: 400px;
    margin: 10px 20px;
    background: #f5f1e6;
    border: 1px solid #c8b89d;
    padding: 12px 24px;
    border-radius: 4px;
    font-family: "Yu Mincho", serif;
    font-size: 18px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.2s;
}
.card:hover {
    text-decoration: none;
    background-color: #dbd5c6;
    color: #1a110a;
    transform: translateY(-2px);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*ボタン*/
.btn {
  background-color: #4a2a12;
  color: #f5f1e6;
  border: 1px solid #c8b89d;
  padding: 12px 24px;
  margin: 3px;
  border-radius: 4px;
  font-family: "Yu Mincho", serif;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  background-color: #a6845a;
  transform: translateY(-2px);
}
.btn:active {
  transform: translateY(0);
}

/*説明*/
.summary{
    padding: 20px;
    margin-bottom: 20px;
    background: #f5f1e6;
    border: 1px solid #c8b89d;
    font-family: "HGS教科書体";
    font-size: 16px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.2s;
}

/*ヘッダー*/
header {
    background-color: #4a2a12;
    padding-bottom: 10px;
}

/* ロゴ部分 */
logo img {
    height: 50px;
}
logo h1 a {
    text-decoration: none;
    color: #f5f1e6;
    font-size: 24px;
}

/* ナビゲーションメニュー */
nav ul {
    list-style: none;
    list-style-type: none;
    font-size: 14px;
}
nav ul li a {
    text-decoration: none;
    color: #f5f1e6;
}
nav ul li a:hover {
    text-decoration: underline;
}

/*フッター*/
footer {
    background-color: #4a2a12;
    text-align: center;
    padding: 10px;
    margin-top: 0;
}
footer h3{
    margin: 0px;
}
footer a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    margin: 0 0px;
}
footer a:hover {
text-decoration: underline;
}